.container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.card {
    width: 700px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.681);
    background-color: #fff;
    background: linear-gradient(to right, #ebedf9, #a5a7a8, #b7b9bd);

}

.button {
    color: white;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    margin-left: auto;
    margin-right: 5px;
    transition: background 0.3s ease;

    &__edit {
        background: rgb(73, 73, 249);
        &:hover {
            background: rgb(23, 1, 94);
        }
    }

    &__delete {
        background: red;
        &:hover {
            background: darkred;
        }
    }

    &__save {
        background: green;
        &:hover {
            background: darkgreen;
        }
    }

    &__cancel {
        background: transparent;
        color: black;

        &:hover {
            background: #eee;
        }
    }
}

.toDoListItems {
    .toDoListItem {
        padding: 15px;
        border-bottom: 1px solid #eee;
        display: flex;
        align-items: center;

        .itemLabel {
            flex: 1;
            padding-left: 15px;
            font-weight: bold;
            cursor: pointer;

            input[type=text] {
                line-height: 30px;
                padding: 0 10px;
                width: 90%;
            }
        }
    }
}

.newTaskForm {
    display: flex;
    align-items: center;

    input {
        flex: 1;
        margin-right: 10px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;

        &:focus {
            outline: none;
            border-color: dodgerblue;
        }
    }

    button {
        background: green;
        color: white;
        border: 0;
        border-radius: 5px;
        cursor: pointer;
        padding: 10px 20px;
        transition: background 0.3s ease;

        &:hover {
            background: darkgreen;
        }
    }

    .move-buttons {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        button {
            margin-bottom: 5px;
        }
    }
}

.toDoListItem.dragging {
    background-color: lightblue;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}