.task-check {
    cursor: pointer;
    margin: auto;
    img {
        height: 24px;
    }
}

.item-user {
    flex: 0.5;
}

.button {
    cursor: pointer;
    padding-top: 1rem;
    img {
        height: 35px;
    }
}





